---
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<nav>
		<div class="internal-links">
		<a>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About me</HeaderLink>
		</a>
		</div>
	</nav>
</header>
	<style>
		header {
				margin: 0;
				padding: 0 1em;
				background: #222222;
				box-shadow: 0 2px 8px rgba(var(--black), 5%);
		}
		nav {
				display: flex;
				align-items: center;
				justify-content: space-between;
		}
		nav a {
				padding: 1em 0.5em;
				border-bottom: 4px solid transparent;
				text-decoration: none;
				color: #aaaaaa;
		}
		nav a.active {
				text-decoration: none;
				border-bottom-color: #888888;
		}
	</style>
